@import "../fonts/nanumbarunroboto/stylesheet.css";
@import "../fonts/iosevka/stylesheet.css";

:root {
    --title-font: 'Ubuntu', 'NanumBarunRoboto', sans-serif;
    --content-font: 'NanumBarunRoboto', sans-serif;
    --code-font: 'Iosevka', 'NanumBarunRoboto', monospace;

    --background-lighten-1: #ffffff;
    --background:           #f4f4f4;
    --background-darken-1:  #eaeaea;
    --background-darken-2:  #8a8a8a;

    --highlight:           #47759f;
    --highlight-lighten-1: #5a8ab5;
    --highlight-lighten-2: #dce6ef;
    --highlight-darken-1:  #3c6387;
    --highlight-text:      #ffffff;

    --text:           #202020;
    --link:           #47759f;
    --status-error:   #ec5252;
    --status-active:  #27ae60;
    --status-syncing: #6c4fe3;
}

::selection {
    background: var(--highlight-lighten-2);
}

html {
    color: var(--text);
    background: var(--background);
    font-family: var(--content-font);
}

html, body {
    padding: 0;
    margin: 0;
}

a {
    color: var(--link);
}

button {
    cursor: pointer;
    background: var(--highlight);
    border: none;
    border-radius: 5px;
    outline: none;
    color: var(--highlight-text);
    font-size: .9rem;
    font-family: var(--content-font);
    padding: 10px 20px;
    transition: background-color .4s ease;

    &:hover {
        background: var(--highlight-lighten-1);
    }

    &:active {
        background: var(--highlight-darken-1);
    }
}

.Fade {
    &-enter, &-leave-to {
        opacity: 0;
    }

    &-enter-active, &-leave-active {
        transition: opacity .4s ease;
    }
}

@custom-media --over-xs ( width >= 768px  );
@custom-media --over-md ( width >= 992px  );
@custom-media --over-lg ( width >= 1200px );

@custom-media --under-xs ( width < 768px  );
@custom-media --under-md ( width < 992px  );
@custom-media --under-lg ( width < 1200px );

@media(prefers-color-scheme: dark) {
    :root {
        --text: #ffffff;
        --background: #101010;
        --background-lighten-1: #202020;
        --background-darken-1: #303030;
        --background-darken-2: #404040;
    }
}
